In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import 'ords_prods_merged' dataset 

ords_prods_merge = pd.read_pickle(r'/Users/melissatoure/Documents/CF Data analytics program/Offical tasks reviewed /Data Immersion/Assigment off/Achievement 4 /Prepared Data/orders_products_merged_new_version.pkl')

In [85]:
path = r'/Users/melissatoure/Documents/CF Data analytics program/Offical tasks reviewed /Data Immersion/Assigment off/Achievement 4 /Prepared Data'

In [3]:
df = ords_prods_merge

In [6]:
df.shape

(32404859, 24)

In [9]:
# Grouping Data with pandas

df.groupby('department_id')

In [10]:
# Ex 2 - Find the aggregated mean of in the entire dataframe

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [ ]:
# Ex 3 -  Analyzing the result : As the result is made on the whole dataset we can notice that more values were added in the results comparing to the other notebook. Also, the mean for each values changed as it was recalculated since it takes into account all values of the dataframe to calculate the mean.

In [19]:
#Aggregating Data with transform()

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [20]:
# Deriving Columns with loc()

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [21]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [22]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [28]:
# Checking output 

ords_prods_merge.shape

(32404859, 26)

In [27]:
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,prices,merge_status,price_range_loc,Busiest day,Busiest days,Most orders,hour_of_day,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,Average orders,Average orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,Average orders,Average orders,10,New customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,Most orders,Most orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,9.0,both,Mid-range product,Least busy,Least busy,Most orders,Average orders,Average orders,10,New customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,9.0,both,Mid-range product,Least busy,Least busy,Most orders,Most orders,Most orders,10,New customer

In [23]:
# Checking frequncy & output 

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [26]:
ords_prods_merge['loyalty_flag'].shape

(32404859,)

In [51]:
# Group by prices 

ords_prods_merge.groupby('prices')

In [54]:
# Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category 

loyalty_flag_stats = df.groupby('loyalty_flag').agg({'order_number': ['mean', 'min', 'max'],'prices': ['mean', 'min', 'max']})

In [53]:
loyalty_flag_stats

                 order_number             prices
                         mean min max       mean  min      max
loyalty_flag
Loyal customer      32.641196   1  99  10.386336  1.0  99999.0
New customer         3.807044   1  10  13.294670  1.0  99999.0
Regular customer    12.347452   1  40  12.495717  1.0  99999.0

In [66]:
#Aggregating Data with transform()

ords_prods_merge['days_since_prior_order_median'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [67]:
# Check the output 

ords_prods_merge.head(20)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,price_range_loc,Busiest day,Busiest days,Most orders,hour_of_day,busiest_period_of_day,max_order,loyalty_flag,median,days_since_prior_order_median
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,Average orders,Average orders,10,New customer,20.5,20.5
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,Mid-range product,Regularly busy,Least busy,Most orders,Average orders,Average orders,10,New customer,20.5,20.5
2,2,473747,1,prior,3,3,12,21.0,196,1,...,Mid-range product,Regularly busy,Least busy,Most orders,Most orders,Most orders,10,New customer,20.5,20.5
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,Mid-range product,Least busy,Least busy,Most orders,Average orders,Average orders,10,New customer,20.5,20.5
4,4,431534,1,prior,5,4,15,28.0,196,1,...,Mid-range product,Least busy,Least busy,Most orders,Most orders,Most orders,10,New customer,20.5,20.5
5,5,3367565,1,prior,6,2,7,19.0,196,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,Average orders,Average orders,10,New customer,20.5,20.5
6,6,550135,1,prior,7,1,9,20.0,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,Most orders,Most orders,10,New customer,20.5,20.5
7,7,3108588,1,prior,8,1,14,14.0,196,2,...,Mid-range product,Regularly busy,Busiest days,Most orders,Most orders,Most orders,10,New customer,20.5,20.5
8,8,2295261,1,prior,9,1,16,0.0,196,4,...,Mid-range product,Regularly busy,Busiest days,Most orders,Most orders,Most orders,10,New customer,20.5,20.5
9,9,2550362,1,prior,10,4,8,30.0,196,1,...,Mid-range product,Least busy,Least busy,Most orders,Average orders,Average orders,10,New customer,20.5,20.5
10,144,2968173,15,prior,15,1,9,7.0,196,2,...,Mid-range product,Regularly busy,Busiest days,Most orders,Most orders,Most orders,22,Regular customer,10.0,10.0
11,146,1870022,15,prior,17,2,16,8.0,196,6,...,Mid-range product,Regularly busy,Regularly busy,Most orders,Most orders,Most orders,22,Regular customer,10.0,10.0
12,147,1911383,15,prior,18,2,11,7.0,196,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,Most orders,Most orders,22,Regular customer,10.0,10.0
13,150,2715276,15,prior,21,1,9,7.0,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,Most orders,Most orders,22,Regular customer,10.0,10.0
14,151,487368,15,prior,22,1,10,14.0,196,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,Most orders,Most orders,22,Regular customer,10.0,10.0
15,209,2293453,19,prior,2,5,14,6.0,196,3,...,Mid-range product,Regularly busy,Regularly busy,Most orders,Most orders,Most orders,9,New customer,6.0,6.0
16,212,1973799,19,prior,5,6,12,8.0,196,15,...,Mid-range product,Regularly busy,Regularly busy,Most orders,Most orders,Most orders,9,New customer,6.0,6.0
17,214,532817,19,prior,7,4,17,6.0,196,1,...,Mid-range product,Least busy,Least busy,Most orders,Average orders,Average orders,9,New customer,6.0,6.0
18,232,1573906,21,prior,10,3,10,6.0,196,2,...,Mid-range product,Regularly busy,Least busy,Most orders,Most orders,Most orders,33,Regular customer,7.5,7.5
19,458,1593000,31,prior,10,3,8,7.0,196,17,...,Mid-range product,Regularly busy,Least busy,Most orders,Average orders,Average orders,20,Regular customer,6.0,6.0

In [68]:
# Deriving Columns with loc()

ords_prods_merge.loc[ords_prods_merge['days_since_prior_order_median'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [76]:
ords_prods_merge.loc[(ords_prods_merge['days_since_prior_order_median'] > 10) & (ords_prods_merge['days_since_prior_order_median'] <= 20), 'frequency_flag'] = 'Regular customer'

In [79]:
ords_prods_merge.loc[ords_prods_merge['days_since_prior_order_median'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [87]:
# Check output 

ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,Busiest day,Busiest days,Most orders,hour_of_day,busiest_period_of_day,max_order,loyalty_flag,median,days_since_prior_order_median,frequency_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Regularly busy,Regularly busy,Most orders,Average orders,Average orders,10,New customer,20.5,20.5,Non-frequent customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,Regularly busy,Least busy,Most orders,Average orders,Average orders,10,New customer,20.5,20.5,Non-frequent customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,Regularly busy,Least busy,Most orders,Most orders,Most orders,10,New customer,20.5,20.5,Non-frequent customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,Least busy,Least busy,Most orders,Average orders,Average orders,10,New customer,20.5,20.5,Non-frequent customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,Least busy,Least busy,Most orders,Most orders,Most orders,10,New customer,20.5,20.5,Non-frequent customer

In [81]:
# Check frequency 

ords_prods_merge['frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [86]:
ords_prods_merge.to_pickle(os.path.join(path,'orders_products_merged_new_version_task_4.8.pkl'))